.shop {
    --cols: 3;
    --gap: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    justify-content: center;
    margin: 3rem auto;
}

.item {
    display: flex;
    justify-content: center;
}

.large {
    display: flex;
    justify-content: center;
    width: 100%;
}