.hole,
.hole::after {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
}

.hole {
    background-color: lavender;
}

.hole::after {
    background-color: rgba(0,0,0,0.2);
    bottom: 0;
    content: '';
    height: 210%;
    top: 0;
    transform-style:preserve-3d;
    transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg);
}

.spot {
    --width: 120px;
    --height: 250px;
    clip-path: rect(0 100% 100% 0%);
    height: var(--height);
    overflow: hidden;
    position: relative;
    width: var(--width);
}